<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyContactsApp.Properties.Settings.Contacts_DatabaseConnectionString"
            connectionString="Data Source=LAPTOP-M9SUKVQF\SQLEXPRESS;Initial Catalog=&quot;Contacts Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>